html,
body,
#root {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}
.container{
    display: flex;
    flex-direction: row;
}

.content{
    display: flex;
    flex-direction: column;
    flex: 1;
}