.sidebar{
    width: 250px;
    height: 100vh;
    background-color: #001529;
}
.sidebar-logo{
    color: aliceblue;
    font-size: 26px;
    padding: 10px 20px;
    font-weight: 600;
    letter-spacing: 2px;
    text-align: center;
    height: 65px;
    border-bottom: 1px solid gray;
} 