.header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 65px;
    border-bottom: 1px solid gray;
    padding: 10px 20px;
}

.right-header{
    display: flex;
    flex-direction: row;
    align-items: center;
}


